#returns{
    
    padding: 40px 100px;
    .container{
        .row{
            p{
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width:1036px) {
    
    #returns{
        padding: 40px 50px;
    }
    
}

@media only screen and (max-width:641px) {
    
    #returns{
        padding: 40px 5px;
    }
    
}