<!--
Styles must be inlined for html emails
In a real sceanrio, this probably won't render as nice as the preview
-->


<table data-module="module-1_11905" mc:repeatable="layout-1" mc:hideable="1" mc:variant="Content-1" style="position: relative; opacity: 1; z-index: 0; top: 0px; left: 0px; background-color: rgb(255, 255, 255);max-width: 900px; " data-bgcolor="Background" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
    </tbody>
</table>
<table data-module="module-29_21799" mc:repeatable="layout-29" mc:hideable="29" mc:variant="Content-29" data-bgcolor="Main BGS" style="position: relative; opacity: 1; z-index: 0; background-color: rgb(247, 247, 247);max-width: 900px;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eceff3" align="center">
    <tbody>
        <tr>
            <td align="center">
                <table class="Cacao-600" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td>
                                <!-- left -->
                                <table class="Cacao-600" width="580" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table class="Cacao-inner" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <!-- title -->
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table class="cacao-inner" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                    <!-- title -->
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="100">
                                                                            </td>
                                                                        </tr>
                                                                        <tr align="left">
                                                                            <td data-link-style="text-decoration:none; color:#414a51;" data-link-color="Feature Title Link" data-color="Feature Feature Title" data-size="Feature Header" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(94, 94, 94); font-size: 15px; line-height: 25.5px; font-weight: 400; text-align: center;">
                                                                                <multiline>
                                                                                    <a href="{1}" title="logo" target="_blank" class="d-flex">
                                                                                        <img src="https://cdn.shopify.com/s/files/1/0054/9450/5546/files/DSTLD_logo_horizontal_new2_x100.png?v=1633725233" style="width: 250px;height: 250px; object-fit: contain;" alt="">
                                                                                    </a>
                                                                                </multiline>
                                                                            </td>
                                                                        </tr>
                                                                        <!--end title-->
                                                                        <!--content-->
                                                                        <tr align="left">
                                                                            <td data-link-style="text-decoration:none; color:#c86e6e;" data-link-color="Content Link" data-color="Content" data-size="Content" style="font-family: 'Open sans', Arial, sans-serif;color: rgb(74, 74, 74);font-size: 14px;line-height: 33px;text-align: center;font-weight: 800;">
                                                                                <multiline>
                                                                                    {1}
                                                                                </multiline>
                                                                            </td>
                                                                        </tr>
                                                                        <!--end content-->
                                                                        <tr>
                                                                            <td height="70">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <!-- left -->
                                                <table class="Cacao3-3" style="     background-color: white; " width="32%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <!-- img -->
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:0px;" align="center">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="http://78.media.tumblr.com/0f2dd5edc9385d1d4d7f6d4894a2b097/tumblr_otv7gt89te1qkegsbo1_1280.jpg" alt="img" width="100%">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                        <!-- end title -->
                                                        <!-- content -->
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link 5a" data-color="Mains Text 5a" data-size="Main Text 5a" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(2, 2, 2);font-size: 15px;font-weight: 600;padding: 0px 10px;text-align: center;" align="left">
                                                                <multiline>
                                                                    DESIGNBLAST INC
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="1a Content Link" data-color="1a Headline" data-size="1Headline" style="font-family: 'Open Sans', Arial, sans-serif; color: rgb(181, 181, 181); font-size: 12px; font-weight: 400; text-align: center;" align="left">
                                                                <singleline>
                                                                    Branding &amp; Identity
                                                                </singleline>
                                                            </td>
                                                        </tr>
                                                        <!-- end content -->
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- end left -->
                                                <!--Space-->
                                                <table width="2%" height="25" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 0;line-height: 0;border-collapse: collapse;" height="25">
                                                                <p style="padding-left: 5px;">
                                                                    &nbsp;
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--End Space-->
                                                <!-- middle -->
                                                <table class="Cacao3-3" style="     background-color: white; " width="32%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <!-- img -->
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:0px;" align="center">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="http://78.media.tumblr.com/86b696b8b62b162de0ea7cb21a7ed335/tumblr_owul7h8gYh1qkegsbo1_1280.jpg" alt="img" width="100%">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                        <!-- end title -->
                                                        <!-- content -->
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link 5a" data-color="Mains Text 5a" data-size="Main Text 5a" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(171, 171, 171);font-size: 27px;font-weight: 100;padding: 0px 10px;font-family: 'Open Sans', Arial, sans-serif;color: rgb(2, 2, 2);font-size: 15px;font-weight: 600;padding: 0px 10px;text-align: center;" align="left">
                                                                <multiline>
                                                                    Agora
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="1a Content Link" data-color="1a Headline" data-size="1Headline" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(181, 181, 181);font-size: 14px;font-weight: 400;padding: 0px 10px;text-align: center;font-size: 12px;font-weight: 400;" align="left">
                                                                <multiline>
                                                                    Design, Strategy
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <!-- end content -->
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- end middle -->
                                                <!--Space-->
                                                <table width="2%" height="25" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 0;line-height: 0;border-collapse: collapse;" height="25">
                                                                <p style="padding-left: 5px;">
                                                                    &nbsp;
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--End Space-->
                                                <!-- right -->
                                                <table class="Cacao3-3" style="     background-color: white; " width="32%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <!-- img -->
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:0px;" align="center">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="http://78.media.tumblr.com/7a01a3a1594f8c62433b87f8ab6779c4/tumblr_ob15km68Pg1uiy5fho1_1280.png" alt="img" width="100%">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                        <!-- end title -->
                                                        <!-- content -->
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link 5a" data-color="Mains Text 5a" data-size="Main Text 5a" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(171, 171, 171);font-size: 27px;font-weight: 100;padding: 0px 10px;font-family: 'Open Sans', Arial, sans-serif;color: rgb(2, 2, 2);font-size: 15px;font-weight: 600;padding: 0px 10px;text-align: center;" align="left">
                                                                <multiline>
                                                                    Beautiful
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="1a Content Link" data-color="1a Headline" data-size="1Headline" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(181, 181, 181);font-size: 14px;font-weight: 400;padding: 0px 10px;text-align: center;font-size: 12px;font-weight: 400;" align="left">
                                                                <multiline>
                                                                    iOS / Android , Marketing
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <!-- end content -->
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- end right -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <!-- left -->
                                                <table class="Cacao3-3" style="     background-color: white; " width="32%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <!-- img -->
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:0px;" align="center">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="http://78.media.tumblr.com/098b5a3f32c471cd0d1c737c47cde8f4/tumblr_owueiav8Ya1qkegsbo1_1280.jpg" alt="img" width="100%">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                        <!-- end title -->
                                                        <!-- content -->
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link 5a" data-color="Mains Text 5a" data-size="Main Text 5a" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(171, 171, 171);font-size: 27px;font-weight: 100;padding: 0px 10px;font-family: 'Open Sans', Arial, sans-serif;color: rgb(2, 2, 2);font-size: 15px;font-weight: 600;padding: 0px 10px;text-align: center;" align="left">
                                                                <multiline>
                                                                    Spice People
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="1a Content Link" data-color="1a Headline" data-size="1Headline" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(181, 181, 181);font-size: 14px;font-weight: 400;padding: 0px 10px;font-size: 12px;font-weight: 400;text-align: center;" align="left">
                                                                <singleline>
                                                                    Branding &amp; Identity
                                                                </singleline>
                                                            </td>
                                                        </tr>
                                                        <!-- end content -->
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- end left -->
                                                <!--Space-->
                                                <table width="2%" height="25" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 0;line-height: 0;border-collapse: collapse;" height="25">
                                                                <p style="padding-left: 5px;">
                                                                    &nbsp;
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--End Space-->
                                                <!-- middle -->
                                                <table class="Cacao3-3" style="     background-color: white; " width="32%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <!-- img -->
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:0px;" align="center">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="http://78.media.tumblr.com/d4b39d43d7f1443b4d557c5585f4a480/tumblr_ox75nutQVe1qkegsbo1_1280.jpg" alt="img" width="100%">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                        <!-- end title -->
                                                        <!-- content -->
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link 5a" data-color="Mains Text 5a" data-size="Main Text 5a" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(171, 171, 171);font-size: 27px;font-weight: 100;padding: 0px 10px;font-family: 'Open Sans', Arial, sans-serif;color: rgb(2, 2, 2);font-size: 15px;font-weight: 600;padding: 0px 10px;text-align: center;" align="left">
                                                                <multiline>
                                                                    Fit For Life
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="1a Content Link" data-color="1a Headline" data-size="1Headline" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(181, 181, 181);font-size: 14px;font-weight: 400;padding: 0px 10px;font-size: 12px;font-weight: 400;text-align: center;" align="left">
                                                                <multiline>
                                                                    Design, Strategy
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <!-- end content -->
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- end middle -->
                                                <!--Space-->
                                                <table width="2%" height="25" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 0;line-height: 0;border-collapse: collapse;" height="25">
                                                                <p style="padding-left: 5px;">
                                                                    &nbsp;
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--End Space-->
                                                <!-- right -->
                                                <table class="Cacao3-3" style="     background-color: white; " width="32%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                    <!-- img -->
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height:0px;" align="center">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="http://78.media.tumblr.com/e5afb34026caebe39cc425d4c1ba66d1/tumblr_oy9szriBPJ1qkegsbo1_1280.jpg" alt="img" width="100%">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                        <!-- end title -->
                                                        <!-- content -->
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link 5a" data-color="Mains Text 5a" data-size="Main Text 5a" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(171, 171, 171);font-size: 27px;font-weight: 100;padding: 0px 10px;font-family: 'Open Sans', Arial, sans-serif;color: rgb(2, 2, 2);font-size: 15px;font-weight: 600;padding: 0px 10px;text-align: center;" align="left">
                                                                <multiline>
                                                                    Huddle
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="1a Content Link" data-color="1a Headline" data-size="1Headline" style="font-family: 'Open Sans', Arial, sans-serif;color: rgb(181, 181, 181);font-size: 14px;font-weight: 400;padding: 0px 10px;font-size: 12px;font-weight: 400;text-align: center;" align="left">
                                                                <multiline>
                                                                    iOS / Android , Marketing
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                        <!-- end content -->
                                                        <tr>
                                                            <td height="30">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- end right -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30">
                                            </td>
                                        </tr>
                                        <tr align="center">
                                            <td>
                                                <table width="160" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td data-link-style="text-decoration:none; color:#FFFFFF;" data-link-color="Text Link" style="border-radius: 21px;padding-left: 5px;padding-right: 5px;font-family: 'Open Sans', Arial, sans-serif;color: #FFFFFF;font-size: 14px;background-color: #644AC4;-webkit-box-shadow: 0px 11px 45px -10px rgb(100, 74, 196);" height="40" align="center">
                                                                <multiline>
                                                                    See More&nbsp; &nbsp; &nbsp; &nbsp;+
                                                                </multiline>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="80">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- end left -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

</table>